.boxContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
    grid-template-rows: repeat(2, 1fr);
    /* 2 rows */
    gap: 24px;
    /* Space between the boxes */
    width: 100%;
    /* max-width: 1312px; */
    /* Optional: limit the maximum width of the container */
    margin: 80px auto;
    /* Center the container horizontally */
}